{{!< layout/default}}
<div class="row">
    </div>
    <br>
    {{#if result}}
    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th> Article title </th>
                <th> Summary </th>
                <th> Details </th>
                <th> Image </th>
                <th width="20%"> Date added </th>
                <th width="15%"> Added by </th>
                <th width="15%"> Edited by </th>
                <th width="13%"></th>
            </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
                <td>{{@title}}{{this.title}}</td>
                <td>{{@summary}}{{this.summary}}</td>
                <td>{{@details}}{{this.details}}</td>
                <td>{{@image}}{{this.image}}</td>
                <td>{{created_at}}{{this.created_at}}</td>
                <td>{{updated_at}}{{this.updated_at}}</td>
                <td>{{updated_by}}{{this.updated_by}}</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-xs" href=""><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn Confirm btn-danger btn-xs" href="/admin/Article/delete/{{this.id}}"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="text-center">
    </div>
    <div class="alert alert-warning">
        No results to display...
    </div>
    {{/if}}
